[Unit]
Description=Consul service discovery agent
Requires=network-online.target
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/local/etc/consul/init.sh
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
